<% form_for(@league) do |f| %>
  <%= f.error_messages %>

  <p>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </p>
  
  <p>
  <%= f.label :description %>
  <%= f.text_area :description %>
  </p>
  
	<% unless params[:action] == "edit" %>
	<p>
	<%= label_tag :demo_users %>
	<%= check_box_tag :demo_users, 'yes', true %>
	</p>
	<% end %>
	
  <p>
    <%= f.submit button_label %>
  </p>
<% end %>