<span class="newmatchup"><%= link_to 'Edit this league', edit_league_path(@league) if @league.owner?(current_user) %></span>
<span class="newmatchup clear"><%= link_to 'Start a new match', new_league_match_path(@league) %></span>
<div class="slapmabitchup">
<p><%= @league.description %></p>
</div>

<% if @stats.empty? %>
<h3 class='ohno'>Oh no! - No match data yet</h3>
<p class='ohno'><%= link_to "Invite", new_league_invite_path(@league) %> some players, and <%= link_to "start", new_league_match_path(@league) %> a match</h3>
<% else %>
<table id="fuckingsweet">
	<thead class="sickass">
		<th class="nosort"></th>
		<th title="Played matches">Pld</th>
		<th title="Won matches">Won</th>
		<th title="Lost matches">Lst</th>
		<th title="Percentage of Wins" class="reverse_sort">Win %</th>
		<th title="Winning Streak">Wsk</th>
		<th title="Losing Streak">Lsk</th>
		<% if @equivalent_teams %>
			<th title="Equivalent Fifa Team" class="nosort">Rank</th>
		<% end %>
	</thead>
	<% @stats.each do |s| %>
		<tr class="phatass">
			<td class="youruglymug"><%= link_to gravatar_for_with_default(s.user), user_path(s.user), :title => s.user.name %></td>
			<td><%= s.played                                 %></td>
			<td><%= s.won                                    %></td>
			<td><%= s.lost                                   %></td>
			<td><%= s.win_percent.to_s + "%"                 %></td>
			<td><%= s.longest_winning_streak                 %></td>
			<td><%= s.longest_losing_streak                  %></td>
			<% if @equivalent_teams %>
				<% team = @equivalent_teams.shift %>
				<td><%= image_tag team[:flag], :title => team[:name] %></td>
			<% end %>
		</tr>
	<% end %>
</table>
<ul id="sort_table_pagination"></ul>
<% end %>

<% if @league.stats.size > 0 %>
	<hr/>
	<h3 class="subsub">Matches per day</h3>
	<div class="charter clear">
	<%= remote_graph("Matches per Day",{ :route => league_graphs_path( :league_id => @league, :action => :matches_per_day ), :width => "500px", :height => "300px"}) %>
	</div>
	<hr/>
	<h3 class="subsub">Table Bias</h3>
	<div class="charter clear">
	<%= remote_graph("Table Bias",{ :route => league_graphs_path( :league_id => @league, :action => :table_bias ), :width => "500px", :height => "300px"}) %>
	</div>
<% end %>