
<table id="fuckingsweet">
	<tr class="sickass">
		<th></th>
		<th>Pld</th>
		<th>Won</th>
		<th>Lst</th>
		<th>Win %</th>
		<th title="Winning Streak">Wsk</th>
		<th title="Losing Streak">Lsk</th>
	</tr>
	<% @players.each do |p| %>
		<tr class="phatass">
			<!--<td><%= link_to p.name, user_path(p) %></td>-->
			<td class="youruglymug"><a href="#"><img src="/images/avatars/1.jpg" alt="avatar"/></a></td>
			<td><%= p.played                     %></td>
			<td><%= p.won                        %></td>
			<td><%= p.lost                       %></td>
			<td><%= p.win_p.to_s + "%"           %></td>
			<td><%= p.longest_winning_streak     %></td>
			<td><%= p.longest_losing_streak      %></td>
		</tr>
	<% end %>
</table>

<ul class="doitlikebritney">
<li><hr/></li>
	<li><%= link_to 'New match', new_league_match_path(@league) %></li>
	<li><%= link_to 'Invite Players', new_league_invite_path(@league) if @league.member_of?(current_user) %></li>
	<li><%= link_to 'Edit', edit_league_path(@league) if @league.owner?(current_user) %></li>
</ul>