<% @subheader = "Profile for #{@user.name}" %>

<div class="clear mabits">

	<div class="ava g9 m4">
		<p>Pics provided by gravatar. Need one? Go <a href="http://gravatar.com">here</a> &amp; signup with your wuzlr account email</p>
		<% if signed_in? && @user != current_user %>
		  <span class="rmv"><%= link_to '<span>Compare yourself with this dude</span>', compare_user_path(@user) %></span>
		<% end %>
	</div>
	
	<div class="ava g3 m1">
		<%= gravatar_for_with_default @user, :size => 100 %>
	</div>
	
</div>

<hr/>

<% if (@nemesis && @walkover) || (@dream_team && @useless) %>
	<div class="clear comparisons">
		<h3 class="subsub">Player roundup</h3>
	<% if @nemesis && @walkover %>
			<div class="g8 nemesis">
				<h2>Nemesis</h2>
				<%= link_to gravatar_for_with_default( @nemesis[:user] ), user_path(@nemesis[:user]), :title => @nemesis[:user].name %>
				<dl>
					<dt>Matches Played: <%= @nemesis[:played] %></dt>
				<dt>Matches Lost: <%= @nemesis[:lost] %></dt>
				</dl>
			</div>
			<div class="g8 m1 walkover">
				<h2>Walkover</h2>
				<%= link_to gravatar_for_with_default( @walkover[:user] ), user_path(@walkover[:user]), :title => @walkover[:user].name %>
				<dl>
				<dt>Matches Played: <%= @walkover[:played] %></dt>
				<dt>Matches Won: <%= @walkover[:won] %></dt>
				</dl>
			</div>
	<% end %>
	</div>
	<% if @dream_team && @useless %>	
		<div class="clear comparisons">
			<div class="g8 dreamteam">
				<h2>Dream Team</h2>
				<%= link_to gravatar_for_with_default( @dream_team[:user] ), user_path(@dream_team[:user]), :title => @dream_team[:user].name %>
				<dl>
				<dt>Matches Played: <%= @dream_team[:played] %></dt>
				<dt>Matches Won: <%= @dream_team[:won] %></dt>
				</dl>
			</div>
			<div class="g8 m1 useless">
				<h2>Useless</h2>
				<%= link_to gravatar_for_with_default( @useless[:user] ), user_path(@useless[:user]), :title => @useless[:user].name %>
				<dl>
				<dt>Matches Played: <%= @useless[:played] %></dt>
				<dt>Matches Lost: <%= @useless[:lost] %></dt>
				</dl>
			</div>
		</div>
	<% end %>

	<hr/>
<% end %>

<% if @matches.size > 0 %>
	<div class="clear form">
		<h3 class="subsub">Form</h3>
		<div class="charter clear">
			<%= remote_graph("Form",{ :route => user_graphs_path( :user_id => @user, :action => :form ), :width => "530px", :height => "300px"}) %>
		</div>
	</div>
	<hr/>
<% end %>

<h3 class="subsub">Recent match-ups</h3>

<%= render :partial => "match", :collection => @matches, :locals => {:user => @user} %>