<% @subheader = "Profile for #{@user.name}" %>

<div class="clear mabits">

	<div class="ava g9 m4">
		<p>Pics provided by gravatar. Need one? Go <a href="http://gravatar.com">here</a> &amp; sign up with your account email</p>
		<% if signed_in? && @user != current_user %>
		  <span class="rmv"><%= link_to '<span>Compare yourself with this dude</span>', compare_user_path(@user) %></span>
		<% end %>
	</div>
	
	<div class="ava g3 m1">
		<%= gravatar_for_with_default @user, :size => 100 %>
	</div>
	
</div>

<hr/>

<% if @nemesis && @walkover && @dream_team && @useless %>
	<div class="clear comparisons">
		<h3 class="subsub">Player roundup</h3>
	
		<div class="g4 nemesis">
			<h2>Nemesis</h2>
			<%= link_to gravatar_for_with_default( @nemesis[:user] ), :title => @nemesis[:user].name %>
			<dl>
				<dt>Matches Played</dt>
				<dd><%= @nemesis[:played] %></dd>
				<dt>Matches Lost</dt>
				<dd><%= @nemesis[:lost] %></dd>
			</dl>
		</div>
		<div class="g4 walkover">
			<h2>Walkover</h2>
			<%= link_to gravatar_for_with_default( @walkover[:user] ), :title => @walkover[:user].name %>
			<dt>Matches Played</dt>
			<dd><%= @walkover[:played] %></dd>
			<dt>Matches Won</dt>
			<dd><%= @walkover[:won] %></dd>
		</div>
		<div class="g4 dreamteam">
			<h2>Dream Team</h2>
			<%= link_to gravatar_for_with_default( @dream_team[:user] ), :title => @dream_team[:user].name %>
			<dt>Matches Played</dt>
			<dd><%= @dream_team[:played] %></dd>
			<dt>Matches Won</dt>
			<dd><%= @dream_team[:won] %></dd>
		</div>
		<div class="g4 useless">
			<h2>Useless</h2>
			<%= link_to gravatar_for_with_default( @useless[:user] ), :title => @useless[:user].name %>
			<dt>Matches Played</dt>
			<dd><%= @useless[:played] %></dd>
			<dt>Matches Lost</dt>
			<dd><%= @useless[:lost] %></dd>
		</div>
	</div>

	<hr/>
<% end %>
<h3 class="subsub">Recent match-ups</h3>

<%= render :partial => "match", :collection => @matches, :locals => {:user => @user} %>