<% @header = "Create Match" %>

<div class="headit clear">
	<h4>Select players</h4>
<p>drag and drop team members to the pitch</p>
</div>
<div class="contain clear">
	<ul class="display_roster clear">
	  <% @players.each do |p| %>
		  <li><a href="javascript:;" class="draggable_player" id="player-<%= p.id%>"><%= gravatar_for_with_default p, :size => 48, :title => p.name %></a></li>
		<% end %>
	</ul>
</div>

<div id="pitch">
  <div id="top" class="droppable"></div>
  <div id="bottom" class="droppable"></div>
	<a href="javascript:;" class="play_game">Play game</a>
</div>

<% form_tag league_matches_path(@league), :id => 'players_form' do -%>
	<%= @match.errors.full_messages   %>
	<%= @match.match_players.map{|p| p.errors.full_messages}%>
  <%= hidden_field_tag 'red[1]' %>
  <%= hidden_field_tag 'red[2]' %>

  <%= hidden_field_tag 'blue[1]' %>
  <%= hidden_field_tag 'blue[2]' %>

<% end -%>