<html>
<head>
  <title>Wuzlr BABY!!!</title>
</head>
<% render :partial => 'layouts/flashes' %>
<ul id="nav">
  <% if signed_in? %>
    <li><%= link_to 'create a league', new_league_path %></li>
    <li><%= link_to 'me profile', user_path(current_user) %></li>
  <% else %>
    <li><%= link_to 'sign up', new_user_path %></li>
    <li><%= link_to 'sign in', new_session_path %></li>
  <% end %>
</ul>
<%= yield %>
</html>